<div class="main-content"><div ng-controller="WS.FundingController" class="ng-scope">
<div alert-box="" ng-model="alert" class="ng-pristine ng-untouched ng-valid ng-isolate-scope"><div ng-show="alert" role="alert" ng-class="{
       'alert': true,
       'alert-dismisable': true,
       'alert-success': true,
       'alert-info': (alert.type == 'info'),
       'alert-warning': (alert.type == 'warning'),
       'alert-danger': (alert.type == 'danger')
      }" class="ng-hide alert alert-dismisable alert-success">
    <div class="container-fluid ng-binding" ng-bind-html="alert.message">Your Withdrawal request has been received. Withdrawals can take 2-5 business days to appear in your bank account</div>
</div>
</div></div>
</div>
<!-- ngInclude: 'funding/eft-section.html' --><div ng-show="portfolio.eft_eligible" ng-include="'funding/eft-section.html'" class="ng-scope"><div class="row-md funding-method-container ng-scope">

  <div class="col-3">
    <h4 class="inline-header-md">Electronic funds transfers</h4>
  </div>

  <div class="col-9">
    <p>
      This is the fastest and easiest way to transfer and start investing your funds. Enter the amount and frequency of contributions below to start a new transfer.
    </p>

    <!-- ngInclude: 'funding/eft-form.html' --><div ng-include="'funding/eft-form.html'" class="ng-scope"><form name="fundingForm" ng-submit="submit(fundingForm)" novalidate="" class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-parse">
  <div class="row-sm form-row">
    <div class="col-3">
      <input class="form-input-text size-sm ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="amount" placeholder="$0" ng-model="fundingRequest.amount" money="" required="" min-value="1" max-value="1000000" focus="" autocomplete="off">
      <!-- ngIf: fundingForm.amount.$dirty -->
    </div>
    <div class="col-3">
      <select class="form-control size-sm ng-pristine ng-valid ng-touched" name="frequency" ng-model="fundingRequest.frequency">
        <option value="monthly" selected="">Every month</option>
        <option value="every_other_week">Every two weeks</option>
        <option value="weekly">Every week</option>
        <option value="once">Just this once</option>
      </select>
    </div>
    <div class="col-3 ng-hide" ng-hide="fundingRequest.frequency === 'once'">
      <datepicker date-format="MMM d, yyyy" date-min-limit="Thu May 12 2016 00:13:23 GMT-0400 (EDT)" date-max-limit="Sat May 13 2017 00:13:23 GMT-0400 (EDT)" date-set="Fri May 13 2016 00:13:23 GMT-0400 (EDT)" date-typer="true" class="ng-isolate-scope">
        <input class="form-input-text size-sm ng-untouched ng-valid ng-dirty ng-valid-parse" name="start_state" ng-model="fundingRequest.startDate" placeholder="Start date" type="text" readonly=""><div class="_720kb-datepicker-calendar   " ng-blur="hideCalendar()"><div class="_720kb-datepicker-calendar-header"><div class="_720kb-datepicker-calendar-header-left"><a class="_720kb-datepicker-calendar-month-button _720kb-datepicker-item-hidden" href="javascript:void(0)" ng-class="{'_720kb-datepicker-item-hidden': !willPrevMonthBeSelectable()}" ng-click="prevMonth()" title="Prev"><b class="_720kb-datepicker-default-button">⟨</b></a></div><div class="_720kb-datepicker-calendar-header-middle _720kb-datepicker-calendar-month ng-binding">May&nbsp;<a href="javascript:void(0)" ng-click="paginateYears(year); showYearsPagination = !showYearsPagination;"><span class="ng-binding">2016<i ng-class="{'_720kb-datepicker-calendar-header-closed-pagination': !showYearsPagination, '_720kb-datepicker-calendar-header-opened-pagination': showYearsPagination}" class="_720kb-datepicker-calendar-header-closed-pagination"></i></span></a></div><div class="_720kb-datepicker-calendar-header-right"><a class="_720kb-datepicker-calendar-month-button" ng-class="{'_720kb-datepicker-item-hidden': !willNextMonthBeSelectable()}" href="javascript:void(0)" ng-click="nextMonth()" title="Next"><b class="_720kb-datepicker-default-button">⟩</b></a></div></div><div class="_720kb-datepicker-calendar-header ng-hide" ng-show="showYearsPagination"><div class="_720kb-datepicker-calendar-years-pagination"><!-- ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2007</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2008</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2009</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2010</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2011</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2012</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2013</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2014</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2015</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-active">2016</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope">2017</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2018</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2019</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2020</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2021</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2022</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2023</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2024</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2025</a><!-- end ngRepeat: y in paginationYears track by $index --><a ng-class="{'_720kb-datepicker-active': y === year, '_720kb-datepicker-disabled': !isSelectableMaxYear(y) || !isSelectableMinYear(y)}" href="javascript:void(0)" ng-click="setNewYear(y)" ng-repeat="y in paginationYears track by $index" class="ng-binding ng-scope _720kb-datepicker-disabled">2026</a><!-- end ngRepeat: y in paginationYears track by $index --></div><div class="_720kb-datepicker-calendar-years-pagination-pages"><a href="javascript:void(0)" ng-click="paginateYears(paginationYears[0])" ng-class="{'_720kb-datepicker-item-hidden': paginationYearsPrevDisabled}" class="_720kb-datepicker-item-hidden"><b class="_720kb-datepicker-default-button">⟨</b></a><a href="javascript:void(0)" ng-click="paginateYears(paginationYears[paginationYears.length -1 ])" ng-class="{'_720kb-datepicker-item-hidden': paginationYearsNextDisabled}" class="_720kb-datepicker-item-hidden"><b class="_720kb-datepicker-default-button">⟩</b></a></div></div><div class="_720kb-datepicker-calendar-days-header"><!-- ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Sun</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Mon</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Tue</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Wed</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Thu</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Fri</div><!-- end ngRepeat: d in daysInString --><div ng-repeat="d in daysInString" class="ng-binding ng-scope">Sat</div><!-- end ngRepeat: d in daysInString --></div><div class="_720kb-datepicker-calendar-body"><!-- ngRepeat: px in prevMonthDays --><!-- ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">1</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">2</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">3</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">4</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">5</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">6</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">7</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">8</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">9</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">10</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">11</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-disabled">12</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope _720kb-datepicker-active">13</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">14</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">15</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">16</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">17</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">18</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">19</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">20</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">21</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">22</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">23</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">24</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">25</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">26</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">27</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">28</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">29</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">30</a><!-- end ngRepeat: item in days --><a href="javascript:void(0)" ng-repeat="item in days" ng-click="setDatepickerDay(item)" ng-class="{'_720kb-datepicker-active': day === item, '_720kb-datepicker-disabled': !isSelectableMinDate(year + '/' + monthNumber + '/' + item ) || !isSelectableMaxDate(year + '/' + monthNumber + '/' + item) || !isSelectableDate(monthNumber, year, item)}" class="_720kb-datepicker-calendar-day ng-binding ng-scope">31</a><!-- end ngRepeat: item in days --><!-- ngRepeat: nx in nextMonthDays --><a href="javascript:void(0)" ng-repeat="nx in nextMonthDays" class="_720kb-datepicker-calendar-day _720kb-datepicker-disabled ng-binding ng-scope">1</a><!-- end ngRepeat: nx in nextMonthDays --><a href="javascript:void(0)" ng-repeat="nx in nextMonthDays" class="_720kb-datepicker-calendar-day _720kb-datepicker-disabled ng-binding ng-scope">2</a><!-- end ngRepeat: nx in nextMonthDays --><a href="javascript:void(0)" ng-repeat="nx in nextMonthDays" class="_720kb-datepicker-calendar-day _720kb-datepicker-disabled ng-binding ng-scope">3</a><!-- end ngRepeat: nx in nextMonthDays --><a href="javascript:void(0)" ng-repeat="nx in nextMonthDays" class="_720kb-datepicker-calendar-day _720kb-datepicker-disabled ng-binding ng-scope">4</a><!-- end ngRepeat: nx in nextMonthDays --></div></div>
      </datepicker>
    </div>
    <div class="col-3">
      <button class="button primary-action size-md ng-binding" type="submit" ng-disabled="fundingForm.$invalid || fundingForm.submitting" disabled="disabled"> Submit </button>
    </div>
  </div>
</form></div>

    <table class="table-opaque" ng-show="efts.length > 0 || pacs.length > 0">
      <thead>
        <tr>
          <th class="status-column"></th>
          <th>Creation Date</th>
          <th>From</th>
          <th>Amount</th>
          <th>Frequency</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- ngRepeat: pac in pacs -->
        <!-- ngRepeat: eft in efts --><tr ng-repeat="eft in efts" class="ng-scope">
          <td ng-class="['status-column', eft.status_category]" class="status-column success">
          </td>
          <td class="ng-binding">Apr 17, 2016</td>
          <td class="ng-binding">CIBC</td>
          <td class="ng-binding">$100</td>
          <td>One time</td>
          <td class="ng-binding">Processed</td>
          <td>
            <a href="#" ng-show="eft.is_cancellable &amp;&amp; !eft.cancelling" ng-click="$event.preventDefault(); cancelEft(eft)" class="ng-hide">Cancel</a>
            <span ng-show="eft.cancelling" class="ng-hide">Cancelling...</span>
          </td>
        </tr><!-- end ngRepeat: eft in efts --><tr ng-repeat="eft in efts" class="ng-scope">
          <td ng-class="['status-column', eft.status_category]" class="status-column success">
          </td>
          <td class="ng-binding">Mar 16, 2016</td>
          <td class="ng-binding">CIBC</td>
          <td class="ng-binding">$50</td>
          <td>One time</td>
          <td class="ng-binding">Processed</td>
          <td>
            <a href="#" ng-show="eft.is_cancellable &amp;&amp; !eft.cancelling" ng-click="$event.preventDefault(); cancelEft(eft)" class="ng-hide">Cancel</a>
            <span ng-show="eft.cancelling" class="ng-hide">Cancelling...</span>
          </td>
        </tr><!-- end ngRepeat: eft in efts --><tr ng-repeat="eft in efts" class="ng-scope">
          <td ng-class="['status-column', eft.status_category]" class="status-column success">
          </td>
          <td class="ng-binding">Mar 15, 2016</td>
          <td class="ng-binding">CIBC</td>
          <td class="ng-binding">$50</td>
          <td>One time</td>
          <td class="ng-binding">Processed</td>
          <td>
            <a href="#" ng-show="eft.is_cancellable &amp;&amp; !eft.cancelling" ng-click="$event.preventDefault(); cancelEft(eft)" class="ng-hide">Cancel</a>
            <span ng-show="eft.cancelling" class="ng-hide">Cancelling...</span>
          </td>
        </tr><!-- end ngRepeat: eft in efts -->
      </tbody>
    </table>

    <!-- ngInclude: 'funding/promo-section.html' --><div ng-include="'funding/promo-section.html'" class="ng-scope"><div class="promo-section ng-scope ng-hide" ng-show="viewData.eftsAndPacsLoaded &amp;&amp; userPromos.length > 0 &amp;&amp; efts.length === 0 &amp;&amp; pacs.length === 0">
  <!-- TODO: eventually build a UI to handle multiple promos per user -->
  <p class="promo-message ng-binding"></p>
</div></div>
  </div>
</div></div>
<div ng-show="!viewData.anyBankAccountsRequireDocuments" class="ng-scope">
  <!-- ngInclude: 'funding/bank-account-section.html' --><div ng-include="'funding/bank-account-section.html'" class="ng-scope"><div class="row-md funding-method-container ng-scope" data-ng-show="viewData.bankAccountsLoaded">

  <div class="col-3">
    <h4 class="inline-header-md ng-hide" data-ng-show="bankAccounts.length == 0">Verify your bank account</h4>
    <h4 class="inline-header-md" data-ng-show="bankAccounts.length > 0">Bank accounts</h4>
  </div>

  <div class="col-9">

    <div ng-show="bankAccounts.length == 0" class="ng-hide">
      <p ng-show="portfolio.account_type == 'non_registered'" class="ng-hide">
        In order to start trading your investments, we need to verify your bank account. You can do this by uploading your bank statement, a screenshot of your bank account, or an image of a cleared cheque. Please make sure you <b>full name</b>, <b>account number</b>, and <b>total account balance</b> are clearly visible!
      </p>
      <p ng-show="portfolio.account_type != 'non_registered'">
        In order to start trading your investments, we need to verify your bank account. You can do this by uploading your bank statement, a screenshot of your bank account, or an image of a void cheque. Please make sure you <b>full name</b> and <b>account number</b> are clearly visible!
      </p>
      <a href="/uploads/new?type=bank_statement&amp;redirect_to=%2Fportfolios%2Ftfsa-8r-jo_-3%2Ffundings" ng-href="/uploads/new?type=bank_statement&amp;redirect_to=%2Fportfolios%2Ftfsa-8r-jo_-3%2Ffundings" class="button primary-action">Upload bank verification</a>
    </div>

    <div data-ng-show="bankAccounts.length > 0" class="">
      <p>
        Wealthsimple investment accounts can accept fund transfers from bank accounts that are in your name and that have been verified by our compliance department. Here's what we have on file for you:
      </p>

      <table class="table-opaque">
        <thead>
          <tr>
            <th class="status-column"></th>
            <th>Bank</th>
            <th>Institution</th>
            <th>Transit</th>
            <th>Account</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- ngRepeat: bankAccount in bankAccounts --><tr ng-repeat="bankAccount in bankAccounts" class="ng-scope">
            <td ng-class="['status-column', bankAccount.status_category]" class="status-column success"></td>
            <td class="ng-binding">CIBC</td>
            <td class="ng-binding">010</td>
            <td class="ng-binding">***4582</td>
            <td class="ng-binding">***8698</td>
            <td ng-switch="bankAccount.status">
              <!-- ngSwitchWhen: verified --><span ng-switch-when="verified" class="ng-scope">Verified</span><!-- end ngSwitchWhen: -->
              <!-- ngSwitchWhen: document_required -->
              <!-- ngSwitchDefault:  -->
            </td>
          </tr><!-- end ngRepeat: bankAccount in bankAccounts -->
        </tbody>
      </table>
    </div>

  </div>

</div></div>
</div>
<!-- ngInclude: 'funding/transfer-section.html' --><div ng-include="'funding/transfer-section.html'" class="ng-scope"><div class="row-md funding-method-container ng-scope">
  <div class="col-3">
    <h4 class="inline-header-md">Transfer existing accounts</h4>
  </div>
  <div class="col-9">
    <p class="ng-binding">
      If you already have a TFSA account with another financial institution, you can transfer it to Wealthsimple.
    </p>
    <!-- ngIf: !transfers -->
    <!-- ngIf: transfers --><table ng-if="transfers" class="table-opaque ng-scope">
      <thead>
        <tr>
          <th>Date</th>
          <th>Institution</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- ngRepeat: transfer in transfers -->
      </tbody>
    </table><!-- end ngIf: transfers -->
    <!-- ngIf: transfers --><p ng-if="transfers" class="ng-scope">
      <a href="/app/portfolios/tfsa-8r-jo_-3/transfer/new" class="table-link">+ Set up transfer</a>
    </p><!-- end ngIf: transfers -->
  </div>
</div></div></div>
</div>
</div>
</div>