<div class="container-padded">
<div class="container-hero">

		<div class="index-hero-header">
			Take care of your employees.
		</div>	
		<%= link_to "Get started today", page1_path, class: "index-hero-button" %>
</div>

<div class="index-hero-bg">
		<div class="announcement-banner-image-and-text-container">	 
			<div class="announcement-banner-image">
			</div>

		<div class="announcement-banner-text-container">
			<h2 class="announcement-banner-header">We're celebrating $400 million under management
			</h2>
			<div class="announcement-banner-text">
            Over 10,000 Canadians are using Wealthsimple
          	</div>
		</div>
	</div>
</div>

<div class="announcement-banner"></div>

<div class="about-Section1">
	<div class="container2">
		<div class="about-Title">How Wealthsimple can help your business</div>

		<div class="about-item-content">
			<div class="about-item">
				<div class="about-image"></div>
				<div class="about-content">
					<div class="about-ui-header">
                    Open a beautiful storefront
                  </div>
					Sell your digital products through a customizable store and product pages that will look great on both desktop and mobile.
				</div>
			</div>

			<div class="about-item">
				<div class="about-image"></div>
				<div class="about-content">
					<div class="about-ui-header">
                    Open a beautiful storefront
                  </div>
					Sell your digital products through a customizable store and product pages that will look great on both desktop and mobile.
				</div>
			</div>

			<div class="about-item">
				<div class="about-image"></div>
				<div class="about-content">
					<div class="about-ui-header">
                    Open a beautiful storefront
                  </div>
					Sell your digital products through a customizable store and product pages that will look great on both desktop and mobile.
				</div>
			</div>
		</div>
			<div class="about-illustration">
			</div>


	</div>
</div>





<!--<div class="about-Section2">
	<div class="container2">
		<div class="about-Title2">Simple Pricing</div>
		<div class="about-Subtitle">0.5% Fee. Nothing more.</div>
		<%= link_to "Get started today", page1_path, class: "index-hero-button2" %>
	</div>
</div>


<div class="about-Section1">
	<div class="container2">
		<div class="about-Title">Frequently Asked Questions </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>

</div>
</div>
</div>-->




</div>




<div class="container-yellow">
	<h2 class="base-margin-bottom-x3">
      What are you waiting for? 
  </br>
      Get started.
  </h2>

<div class="base-margin-bottom-x4">
      Whether you're here to set up a long term investment plan or just make your everyday life sweeter. Get going.
</div>


<%= link_to "Create a business account", page1_path, class: "button-large" %>






</div>



