<div class="centered-form-container">
	<h1>Let's get started</h1>
	<h2>Create an account and start your plan today</h2>

	<div class="form-box">
		<div class="form-input">
			<input class="form-half-left", placeholder="First name">
			</input>
			<input class="form-half-right", placeholder="Last name">
			</input>
		</div>



		<div class="form-input">
			<input class="form-half-left", placeholder="Email">
			</input>
			<input class="form-half-right", placeholder="Phone number">
			</input>
		</div>

		<div class="form-input">
			<input class="form-full", placeholder="Password">
			</input>
		</div>

		<div class="form-input">
			<%= link_to "Create Business Account", page2_path, class: "submit-Btn2" %>
		</div>
	</div>

</div>



