



<div class="template-container">
</div>

<div class="profile-content">
	<div class="profile-image">
	</div>

	<h2 class="profile-name">Your Company Name</h2>
	<div class="profile-bio">Finance guy turned Entrepreneur

CEO of Tunezy, a social e-commece platform for Music

Executive-in-Residence (EiR) at the University of Toronto

Profit Magazine Top 20 under 30 Entrepreneur

Formerly with CIBC World Markets in Equity Derivative Sales & FX Trading
<div class="profile-linkbar">
	<div class="profile-link1">Create your account</div>

<%= link_to Wealthsimple, root_path, class: "profile-logo" %>
</div>
</div>
</div>