<div class="centered-form-container">
	<h1>One last step to go</h1>
	<h2>Set up your company profile</h2>

	<div class="form-box">
		<div class="upload-logo">
			Upload Your Logo
		</div>


		<div class="form-input">
			<input class="form-full", placeholder="Company name">
			</input>
		</div>

		<div class="form-input">
			<input class="form-full", placeholder="Number of employees">
			</input>
		</div>


		<div class="form-input">
			<input class="form-triple", placeholder="Write a message for your employees">
			</input>
		</div>

		<h2>Share the link below with your employees</h2>

		<div class="form-input">
			<input class="form-full", placeholder="yourbusiness.wealthsimple.com">
			</input>
		</div>
		<div class="form-input">
			<%= link_to "Save", page3_path, class: "submit-Btn2" %>
		</div>
	</div>

</div>