<div class="centered-form-container">
	<h1>Request a Withdraw</h1>
	<h2>Withdraw Funds To Your Bank</h2>

	<div class="form-box">
		<div class="form-input">
			<input class="form-full", placeholder="Choose Account">
			</input>
		</div>

		<div class="form-input">
			<input class="form-full", placeholder="Amount to withdraw">
			</input>
		</div>
		<h2>You will receive a confirmation email upon submission. Withdrawals can take up to 2-5 business days to process</h2>

		<div class="form-input">
			<input class="form-full", placeholder="yourbusiness.wealthsimple.com">
			</input>
		</div>
		<div class="form-input">
			<%= link_to "Save", page3_path, class: "submit-Btn2" %>
		</div>
	</div>

</div>